table,th,tr,td {
  border: 1px solid rgb(255, 1, 1);
  color: rgb(17, 239, 255);
  border-collapse: collapse;

}
body {
  background-color: #000000;
  color: #0fffd7;
  font-family: Arial, sans-serif;
}
a {
    color: yellow;
    text-decoration: underline;
}
a:hover {
    color: orange;
    cursor: e-resize;
    text-decoration: underline;
}