body {
    background-color: #aa0000;
    color: cornsilk;
}
h1 {
    color: aquamarine
}
a {
    color: gold;
}
#projects, #practice, #notes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin-right: 70vw;
}