.gallery { /* i LOVE css grid (i think i used it too much) */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid:
        "main main2" 5fr
        "foot foot" 1fr
        / 1fr 1fr;
    
}
#gallery-main {
    grid-area: main;
    margin: 10px;
}
#gallery-main2 {
    grid-area: main2;
    margin: 10px;
}
#gallery-footer {
    display: grid;
    grid-area: foot;
    background-color: #000000;
    text-align: center;
    color:white;
    grid:
        "set1 set2 set3 set4" 1fr
        / 1fr 1fr 1fr 1fr;
}
#gallery-footer-set1{ /* set all the columns of links */
    grid-area: set1;
}
#gallery-footer-set2{
    grid-area: set2;
}
#gallery-footer-set3{
    grid-area: set3;
}
#gallery-footer-set4{
    grid-area: set4;
}
.footlink {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.about-section {
    display: grid;
    width: 100vw;
    height: 120vh;
    grid:
        "left right" 5fr
        "foot foot" 1fr
        / 1fr 1fr;
}
#about-left {
    grid-area: left;
    margin: 5vw;
}
#about-right {
    grid-area: right;
    margin: 5vw;
}
#about-footer {
    display: grid;
    grid-area: foot;
    background-color: #000000;
    text-align: center;
    color:white;
    grid:
        "set1 set2 set3 set4" 1fr
        / 1fr 1fr 1fr 1fr;
}
#about-footer-set1{ /* same as above comment */
    grid-area: set1;
}
#about-footer-set2{
    grid-area: set2;
}
#about-footer-set3{
    grid-area: set3;
}
#about-footer-set4{
    grid-area: set4;
}
h1 {
    text-align: center;
    font-size: 60px;
}
button {
    font-size: 24px;
    padding: 10px;
    margin-left: 80vw;
    width: 100px;
    height: 100px;
}
body {
    margin: 0;
    padding: 0;
}