.gallery {
    width: 100vw;
    height: 120vh;
    display: grid;
    grid:
        "head head head" 1fr
        "side main side2" 4fr
        "foot foot foot" 1fr
        / 1fr 4fr 1fr;
    
}
#gallery-header {
    grid-area: head;
    background-color: #f2f2f2;
    border-bottom: 2px solid #ccc;
}
#gallery-main {
    grid-area: main;
    padding: 20px;
}
#gallery-sidebar {
    grid-area: side;
    background-color: #e6e6e6;
    border-right: 2px solid #ccc;
    padding: 20px;
}
#gallery-sidebar2 {
    grid-area: side2;
    background-color: #e6e6e6;
    border-right: 2px solid #ccc;
    padding: 20px;
}
#gallery-footer {
    grid-area: foot;
    background-color: #f2f2f2;
    border-top: 2px solid #ccc;
    text-align: center;
    padding: 10px;
}
h1 {
    text-align: center;
    font-size: 60px;
}