.gallery {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid:
        "side main" 5fr
        "foot foot" 1fr
        / 1fr 5fr;
    
}
#gallery-header {
    grid-area: head;
    justify-content: center;
    align-items: center;
}
#gallery-nav {
    grid-area: nav;
    justify-content: center;
    align-items: center;
}
#gallery-main {
    grid-area: main;
}
#gallery-sidebar {
    grid-area: side;
    background-color: #e6e6e6;
}
#gallery-sidebar2 {
    grid-area: side2;
    background-color: #e6e6e6;
}
#gallery-footer {
    grid-area: foot;
    background-color: #000000;
    text-align: center;
    color:white;
    grid:
        "set1 set2 set3 set4" 1fr
        / 1fr 1fr 1fr 1fr;
}
#gallery-footer-set1{
    grid-area: set1;
}
#gallery-footer-set2{
    grid-area: set2;
}
#gallery-footer-set3{
    grid-area: set3;
}
#gallery-footer-set4{
    grid-area: set4;
}
h1 {
    text-align: center;
    font-size: 60px;
}