.gallery {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid:
        "main main2" 5fr
        "foot foot" 1fr
        / 1fr 1fr;
    
}
#gallery-main {
    grid-area: main;
}
#gallery-main {
    grid-area: main2;
}
#gallery-footer {
    display: grid;
    grid-area: foot;
    background-color: #000000;
    text-align: center;
    color:white;
    grid:
        "set1 set2 set3 set4" 1fr
        / 1fr 1fr 1fr 1fr;
}
#gallery-footer-set1{
    grid-area: set1;
}
#gallery-footer-set2{
    grid-area: set2;
}
#gallery-footer-set3{
    grid-area: set3;
}
#gallery-footer-set4{
    grid-area: set4;
}
.footlink {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
h1 {
    text-align: center;
    font-size: 60px;
}