body{
    font-family: Arial, Helvetica, sans-serif, monospace;
    margin: 20px;
    padding: 20px;
    background-color: #2f604d;
}
footer {
  text-align: center;
  padding: 5px;
  background-color: #00e362;
  color: black;
}