body{
    font-family: Arial, Helvetica, sans-serif, monospace;
    margin: 20px;
    padding: 20px;
    background-color: #39da9c;
}
footer {
  text-align: center;
  padding: 5px;
  background-color: #00e362;
  color: black;
}
table {
  border: 1px solid black;
}
td, th {
  border: 1px solid black;
  padding: 5px;
}